    /* CSS declarations go here */
@import "compass/css3";

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    position: relative;
}

div.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 52px;
    left: 0;
    background: darkgray;
    opacity: 1.0;
}

.chat-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    background: darkgray;
    opacity: 1.0;
}

.hidden {
    display: none;
}

.login-reminder {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding:25px 25px;
    border-radius:50px;
    border:4px solid white;
}

.target-reminder {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding:25px 25px;
    border-radius:50px;
    border:4px solid white;
}

.reminder {
    font-size: 2.5em;
    color: white;
    font-family: 'Consolas', Times, serif;
}

.bodywrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    flex-grow: 0;
    margin-bottom: 0px;
}

.app-container {
    display: flex;
    flex-grow: 1;
}

#header {
    height: 100%;
}

.chat-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    background-color: gray;
    overflow: hidden;
    border-left: 1px solid darkgray;
}

.friendlist-container {
    border-top: 1px solid lightgray;
    background-color: white;
    flex-grow: 1;
    padding: 0px;
    overflow-y: auto;
}

.friendblock {
    display: flex;
    flex-grow: 0;
    width: 100%;
    height: 50px;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.searchblock {
    display: flex;
    flex-grow: 0;
    width: 100%;
    height: 50px;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
}

.friend {
    width: 100%;
}

.friendblock:hover {
    background-color: lightgray;
}

.selected {
    background-color: lightgray;
}

.friend-info-container {
    height: 100%;
    margin: 0px;
    float: left;
}

.friend-name {
    position: relative;
    top: 0px;
    left: 0px;
}

.float-left {
    float: left;
}

.messages-box {
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    padding: 5px;
    background-color: #ffffff;
    border-top: 1px solid lightgray;
    overflow-y: auto;
}

.message-block-container {
    max-height: max-content;
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    flex-basis: 0px;
}

.information-container {
    border-top: 1px solid lightgray;
    height: 50px;
    margin: 0px;
    width: 100%;
    flex-grow: 0;
    overflow: hidden;
}

#profpic {
    height: 100%;
    width: 6%;
}

#chat-information-container {
    height: 100%;
    width: 94%;
    float: right;
}

#chatname {
    height: 100%;
    text-align: center;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
}

#chatname-text {
    font-size: 1.2em;
    color: black;
    font-family: 'Helvetica Neue', Times, serif;
}

#chatstatus {
    height: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#chatstatus-text {
    font-size: 1.0em;
    color: darkgray;
}

.profileinfo-container {
    height: 100%;
    background-color: white;
}

.chatarea-container {
    height: 100%;
    width: 100%;
}

.message-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.input-container {
    flex-grow: 0;
    height: 2.5em;
    border-left: 1px solid lightgray;
    overflow: hidden;
}

.input-items {
    vertical-align: top;
    padding: 0px;
    height: 100%;
}

.sendMsg {
    margin: 0;
    width: 100%;
}


.message-block-to {
    display: flex;
    flex-direction: row-reverse;
}

.message-block-from {
    display: flex;
    flex-direction: row;
}

.message-bubble {
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: normal;
    word-wrap: break-word;
    margin-bottom: 2px;
    margin-top: 2px;
    line-height: 24px;
    max-width: 300px;
}

.message-bubble.to-bubble{
    position:relative;
    padding:8px 16px;
    color:white;
    background:#0B93F6;
    border-radius:25px;
    float: right;
}

.message-bubble.from-bubble{
    position:relative;
    padding:8px 16px;
    background:#E5E5EA;
    border-radius:25px;
    color: black;
    float: left;
}
