    /* CSS declarations go here */
@import "compass/css3";

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    position: relative;
}

.bodywrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    flex-grow: 0;
    margin-bottom: 0px;
}

.app-container {
    display: flex;
    flex-grow: 1;
}

#header {
    height: 100%;
}

.chat-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    background-color: gray;
    overflow: hidden;
}

.friendlist-container {
    background-color: lightgray;
    flex-grow: 1;
    border-right: 1px solid darkgray;
    border-top: 1px solid darkgray;
}

.messages-box {
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid darkgray;
    overflow-y: auto;
}

.message-block-container {
    max-height: max-content;
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    flex-basis: 0px;
}

.information-container {
    margin: 0px;
    width: 100%;
    flex-grow: 0;
    overflow: hidden;
}

#profpic {
    height: 100%;
    width: 6%;
}

#chat-information-container {
    height: 100%;
    width: 94%;
    float: right;
}

#chatname {
    height: 100%;
    text-align: center;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
}

#chatname-text {
    font-size: 1.4em;
    color: black;
    font-family: 'Georgia', Times, serif;
}

#chatstatus {
    height: 100%;
    text-align: center;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
}

#chatstatus-text {
    font-size: 1.0em;
    color: darkgray;
}

.profileinfo-container {
    height: 100%;
    background-color: white;
}

.chatarea-container {
    height: 100%;
    width: 100%;
}

.message-container {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

.input-container {
    flex-grow: 0;
    height: 2.5em;

    overflow: hidden;
}

.input-items {
    vertical-align: top;
    padding: 0px;
    height: 100%;
}

.sendMsg {
    margin: 0;
    width: 100%;
}


.message-block-to {
    display: flex;
    flex-direction: row-reverse;
}

.message-block-from {
    display: flex;
    flex-direction: row;
}

.message-bubble {
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: normal;
    word-wrap: break-word;
    margin-bottom: 2px;
    margin-top: 2px;
    line-height: 24px;
    width: min-content;
    max-width: 255px;
}

.message-bubble.to-bubble{
    position:relative;
    padding:8px 16px;
    color:white;
    background:#0B93F6;
    border-radius:25px;
    float: right;
}

.message-bubble.from-bubble{
    position:relative;
    padding:8px 16px;
    background:#E5E5EA;
    border-radius:25px;
    color: black;
    float: left;
}

.timestamp {
}
